<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number</title>
</head>
<body>
    
 
    <div>
        <img data-th-src= "${image}" height="300">
    </div>
    
    <div>
        <img data-th-src= "@{/numbers/number{i}.jpg(i = ${number})}" height="300">
    </div>


    <!-- the following works as well -->
    <div>
        <img data-th-src= "@{'/numbers/number' + ${number} + '.jpg'}" height="300">
    </div>


</body>
</html>